---
import NavBar from '../components/NavBar.astro';
const narrowHeading = 'Astro Main Menu Demo'

const { frontmatter } = Astro.props;

const pageTitle = frontmatter.title;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro Icon</title>
    </head>

    <body>
        <NavBar>
            <span class="narrow-heading" slot="narrow-heading">{narrowHeading}</span>
        </NavBar>
        <h1>{pageTitle}</h1>
        <slot />
    </body>
</html>

<style>
    body {
        margin: 0 auto;
        padding: 0;
    }
</style>
