---
import XilytixLogoSvg from '../components/XilytixLogoSvg.astro';
---

<a href="https://xilytix.com" class="xilytix-logo"><XilytixLogoSvg class="xilytix-logo-svg"/><span class="xilytix-text">Xilytix</span></a>

<style>
    .xilytix-logo {
        display: flex;
        align-items: center;
        gap: 1em;

        .xilytix-text {
            font-size: 2em;
        }
    }

    .xilytix-logo-svg {
        height: 4em;
    }
</style>